<div class="col-sm-8">
    <h1 translate="components.home.welcome-message">
    </h1>
    <img src="assets/images/ngaythobet.gif" alt="banner" />
    <h3 translate="components.home.rules"></h3>
    <ul>
        <li translate="components.home.rule1"></li>
        <li translate="components.home.rule2"></li>
        <li translate="components.home.rule3"></li>
        <li translate="components.home.rule4"></li>
    </ul>
    <h3 translate="components.home.loss-amount-rules"></h3>
    <ul>
        <li translate="components.home.loss-amount-rule1">Kết quả hòa, cá bên nào cũng thua 1/2 số tiền.</li>
        <li translate="components.home.loss-amount-rule2"></li>
        <li translate="components.home.loss-amount-rule3"></li>
    </ul>

    <strong translate="components.home.loss-amount-regular"></strong>
    <p translate="components.home.loss-amount-regular-expression"></p>
    <ul>
        <li translate="components.home.loss-amount-regular-li-1"></li>
        <li translate="components.home.loss-amount-regular-li-2"></li>
        <li translate="components.home.loss-amount-regular-li-3"></li>
    </ul>
    <p>
        <strong translate="components.home.loss-amount-example">Ví dụ</strong>:
        <p translate="components.home.loss-amount-example-p"></p>
        <ul>
            <li translate="components.home.loss-amount-example-li-1"></li>
            <li translate="components.home.loss-amount-example-li-2"></li>
            <li translate="components.home.loss-amount-example-li-3"></li>
            <li translate="components.home.loss-amount-example-li-4"></li>
            <li translate="components.home.loss-amount-example-li-5"></li>
        </ul>
    </p>
</div>
<div class="col-sm-4">
    <toaster-container toaster-options="{'time-out': 3000, 'close-button':true}"></toaster-container>
    <div ng-show="!home.isAuthorized">
        <div login></div>
        <div register></div>
    </div>
</div>