<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="changePassword.closeModal()">&times;</button>
        <h2 class="modal-title"><small translate="common.change-password.title"></small></h2>
    </div>
    <div class="modal-body">
        <form name="form" method="post">
            <div ng-class="(changePassword.errorMessage.currentPassword) ? 'form-group has-error' : 'form-group'">
                <label for="currentPassword" translate="common.change-password.currentPwd"></label><span class="text-danger"> *</span>
                <input type="password" class="form-control" ng-model="changePassword.data.currentPassword" name="currentPassword" onpaste="return false;" onCopy="return false" onCut="return false">
                <div class="text-danger" ng-show="changePassword.errorMessage" ng-bind="changePassword.errorMessage.currentPassword"></div>
            </div>
            <div ng-class="(changePassword.errorMessage.password) ? 'form-group has-error' : 'form-group'">
                <label for="password" translate="common.change-password.newPwd"></label><span class="text-danger"> *</span>
                <input type="password" class="form-control" ng-model="changePassword.data.password" name="password" onpaste="return false;" onCopy="return false" onCut="return false">
                <div class="text-danger" ng-show="changePassword.errorMessage" ng-bind="changePassword.errorMessage.password"></div>
            </div>
            <div ng-class="(changePassword.errorMessage.confirmPassword) ? 'form-group has-error' : 'form-group'">
                <label for="confirmPassword" translate="common.change-password.confirmNewPwd"></label> <span class="text-danger"> *</span>
                <input type="password" class="form-control" ng-model="changePassword.data.confirmPassword" name="confirmPassword" onpaste="return false;" onCopy="return false" onCut="return false">
                <div class="text-danger" ng-show="changePassword.errorMessage" ng-bind="changePassword.errorMessage.confirmPassword"></div>
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-primary" ng-click="changePassword.changePass()" translate="common.form.submit"></button>
                <button type="button" class="btn btn-default" ng-click="changePassword.closeModal()" translate="common.form.cancel"></button>
            </div>
        </form>
    </div>
</div>