<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">Create Betting Match</h4>
  </div>
  <div class="modal-body">
    <p><strong>Match</Strong></p>
      <div>
        <span ng-bind="createBet.data.competitor1"></span> -
        <span ng-bind="createBet.data.competitor2"></span>
      </div>
    <br>
    <p><strong>Balance<span class="text-danger">*</span></strong></p>
    <p>
      <div class="form-inline text-center">
        <div class="col-md-6">
          <input type="text" class="form-control" ng-model="createBet.data.balance1">
        </div>
        <div class="col-md-6">
          <input type="text" class="form-control" ng-model="createBet.data.balance2">
        </div>
      </div>
    </p>
    <br><br><br>
    <p><strong>Expire time<span class="text-danger">*</span></strong></p>
    <div class="form-group">
        <div class="input-group date" date-time-picker ng-model="createBet.data.time">
          <input type="text" class="form-control" />
          <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
    </div>
    <p><strong>Bet amount<span class="text-danger">*</span></strong></p>
    <input type="text" class="form-control">
    <br>
    <p><strong>Description<span class="text-danger">*</span></strong></p>
    <textarea class="form-control" rows="3"></textarea>
    <hr>
    <div class="pull-right">
      <button type="button" class="btn btn-primary" ng-click="createBet.create()">Create</button>
      <button type="button" class="btn btn-primary" ng-click="createBet.cancel()">Cancel</button>
    </div>
    <br>
    <br>
    </div>
  </div>
</div>
