<div class="panel panel-default" ng-controller="TournamentGroupController as tourGroup">
	<ol class="breadcrumb">
		<li><a href="javascript:void(0)">Tournament</a></li>
		<li><a href="javascript:void(0)">Group</a></li>
		<li class="active">Group name</li>
	</ol>
	<div class="panel-body">
		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#matches" href="javascript:void(0)">Matches</a></li>
			<li><a data-toggle="tab" href="#statistics" href="javascript:void(0)">Statistics</a></li>
			<li><a data-toggle="tab" href="#information" href="javascript:void(0)">Information</a></li>
		</ul>
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="tab-content">
					<div id="matches" class="tab-pane fade in active">
						<h3>Matches</h3>
						<div betting></div>
					</div>
					<div id="statistics" class="tab-pane fade">
						<div playerhistory></div>
						<div comment></div>
					</div>
					<div id="information" class="tab-pane fade">
						<div class="row">
							<div class="col-sm-8">
								<div class="panel-heading panel-title has-minheight">
									<strong class="panel-title pull-left text-muted font-size" translate="common.group.information.information"></strong>
									<div class="text-right panel-title" ng-show="tourGroup.isMod">
										<button class="btn btn-primary" ng-click="tourGroup.openUpdateGroup()">
  											<span class="glyphicon glyphicon-edit" aria-hidden="true"></span><span translate="common.group.information.editGroup"></span>
										</button>
									</div>
								</div>
								<div class="panel-body">
									<ul class="list-group">
										<li class="list-group-item">
											<div class="row">
												<span class="col-sm-4" translate="common.group.information.name"></span>
												<span class="col-sm-8" ng-bind="tourGroup.groupInfo.name"></span>
											</div>
										</li>
										<li class="list-group-item">
											<div class="row">
												<span class="col-sm-4" translate="common.group.information.moderator"></span>
												<span class="col-sm-8" ng-bind="tourGroup.groupInfo.moderator.username"></span>
											</div>
										</li>
										<li class="list-group-item">
											<div class="row">
												<span class="col-sm-4" translate="components.tournament.name"></span>
												<span class="col-sm-8" ng-bind="tourGroup.tournamentName"></span>
											</div>
										</li>
									</ul>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="panel-heading panel-title has-minheight">
									<strong class="panel-title pull-left text-muted font-size" translate="common.group.information.groupPlayers"></strong>
								</div>
								<div class="panel-body">
									<ul class="list-group">
										<li class="list-group-item" ng-repeat="member in tourGroup.groupInfo.members" >
											<i class="fa fa-user"></i> {{member.username}}
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>