<div class="panel panel-default">
	<ol class="breadcrumb">
		<li><a href="javascript:void(0)">Tournament</a></li>
		<li><a href="javascript:void(0)">Group</a></li>
		<li class="active">Group name</li>
	</ol>
	<div class="panel-body">
		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#matches" href="javascript:void(0)">Matches</a></li>
			<li><a data-toggle="tab" href="#statistics" href="javascript:void(0)">Statistics</a></li>
			<li><a data-toggle="tab" href="#information" href="javascript:void(0)">Information</a></li>
		</ul>
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="tab-content">
					<div id="matches" class="tab-pane fade in active">
						<h3>Matches</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
					<div id="statistics" class="tab-pane fade">
						<div playerhistory></div>
						<div comment></div>
					</div>
					<div id="information" class="tab-pane fade">
						<h3>Information</h3>
						<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>