<h3 translate="components.tournament.history.group.title"></h3>
<div class="table-responsive">
	<table class="table table-hover">
		<thead>
			<tr>
				<th class="text-center" translate="components.tournament.history.group.table.no"></th>
				<th class="text-left">
					<a href="javascript:void(0)" ng-click="groupHistory.sortType = 'player'; groupHistory.sortReverse = !groupHistory.sortReverse">
						<span translate="components.tournament.history.group.table.player"></span>
						<i class="fa fa-angle-down" ng-show="groupHistory.sortType == 'player' && !groupHistory.sortReverse"></i> 
						<i class="fa fa-angle-up" ng-show="groupHistory.sortType == 'player' && groupHistory.sortReverse"></i>
					</a>
				</th>
				<th class="text-center">
					<a href="javascript:void(0)" ng-click="groupHistory.sortType = 'notloss';groupHistory.sortReverse = !groupHistory.sortReverse">
						<span translate="components.tournament.history.group.table.notloss"></span>  
						<i class="fa fa-angle-down" ng-show="groupHistory.sortType == 'notloss' && !groupHistory.sortReverse"></i> 
						<i class="fa fa-angle-up" ng-show="groupHistory.sortType == 'notloss' && groupHistory.sortReverse"></i>
					</a>
				</th>
				<th class="text-center">
					<a href="javascript:void(0)" ng-click="groupHistory.sortType = 'losscount'; groupHistory.sortReverse = !groupHistory.sortReverse">
						<span translate="components.tournament.history.group.table.losscount"></span>
						<i class="fa fa-angle-down" ng-show="groupHistory.sortType == 'losscount' && !groupHistory.sortReverse"></i> 
						<i class="fa fa-angle-up" ng-show="groupHistory.sortType == 'losscount' && groupHistory.sortReverse"></i>
					</a>
				</th>
				<th class="text-center">
					<a href="javascript:void(0)" ng-click="groupHistory.sortType = 'lossamount'; groupHistory.sortReverse = !groupHistory.sortReverse">
						<span translate="components.tournament.history.group.table.lossamount"></span>
						<i class="fa fa-angle-down" ng-show="groupHistory.sortType == 'lossamount' && !groupHistory.sortReverse"></i> 
						<i class="fa fa-angle-up" ng-show="groupHistory.sortType == 'lossamount' && groupHistory.sortReverse"></i>
					</a>
				</th>
				<th class="text-center">
					<a href="javascript:void(0)" ng-click="groupHistory.sortType = 'notbetcount'; groupHistory.sortReverse = !groupHistory.sortReverse">
						<span translate="components.tournament.history.group.table.notbetcount"></span>
						<i class="fa fa-angle-down" ng-show="groupHistory.sortType == 'notbetcount' && !groupHistory.sortReverse"></i> 
						<i class="fa fa-angle-up" ng-show="groupHistory.sortType == 'notbetcount' && groupHistory.sortReverse"></i>
					</a>
				</th>
				<th class="text-center">
					<a href="javascript:void(0)" ng-click="groupHistory.sortType = 'notbetamount'; groupHistory.sortReverse = !groupHistory.sortReverse">
						<span translate="components.tournament.history.group.table.notbetamount"></span>
						<i class="fa fa-angle-down" ng-show="groupHistory.sortType == 'notbetamount' && !groupHistory.sortReverse"></i> 
						<i class="fa fa-angle-up" ng-show="groupHistory.sortType == 'notbetamount' && groupHistory.sortReverse"></i>
					</a>
				</th>
				<th class="text-center">
					<a href="javascript:void(0)" ng-click="groupHistory.sortType = 'totalloss'; groupHistory.sortReverse = !groupHistory.sortReverse">
						<span translate="components.tournament.history.group.table.totalloss"></span>
						<i class="fa fa-angle-down" ng-show="groupHistory.sortType == 'totalloss' && !groupHistory.sortReverse"></i>
						<i class="fa fa-angle-up" ng-show="groupHistory.sortType == 'totalloss' && groupHistory.sortReverse"></i>
					</a>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="group in groupHistory.statisticData | orderBy: groupHistory.sortType: groupHistory.sortReverse" class="text-center">
				<td>{{ $index + 1 }}</td>
				<td class="text-left">{{ group.player }}</td>
				<td>{{ group.notlossCount }}</td>
				<td>{{ group.lossCount }}</td>
				<td>{{ group.lossAmount }}</td>
				<td>{{ group.notbetCount }}</td>
				<td>{{ group.notbetAmount }}</td>
				<td ng-init="groupHistory.totalLost = groupHistory.totalLost + group.totalLossAmount">{{ group.totalLossAmount }}</td>
			</tr>
			<tr>
				<td colspan="6"></td>
				<td class="text-center"><strong translate="components.tournament.history.group.total"></strong></td>
				<td class="text-center"><strong>{{ groupHistory.totalLost }} <span translate="components.tournament.history.group.unit"></span></strong></td>
			</tr>
		</tbody>
	</table>
</div>