@import 'var';

body {
  background: $color-white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $color-black;
}

.navbar {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid $color-gray;
  .logo {
    width: 42px;
    height: 42px;
    padding: 2px;
    margin-top: 5px;
    float: left;
  }
  .navbar-version {
    font-size: 10px;
    color: $color-gray;
  }
  .navbar-nav > li > a {
    padding: 10px 15px;
    position: relative;
    .glyphicon { font-size: 24px; }
  }
}
.nav-tabs {
  border-bottom: none;
}

.vertical_nav {
  background-color: #f6f6f6;
  
  .menu-item {
    min-height: 40px;
    line-height: 40px;
  }
  
  .menu {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .menu-link {
    display: block;
    overflow: hidden;
    text-decoration: none;
    color: #666;
    font-weight: 400;
    white-space: nowrap;
    cursor: pointer;
  }
  
  .menu-link, .sub-menu-link:hover {
    color: #000;
    background: #ddd;
  }
  
  .menu-icon {
    display: block;
    float: left;
    width: 50px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
  }
  
  .menu-label {
    display: block;
    height: 40px;
    line-height: 40px;
  }
  
  .sub_menu {
    overflow: hidden;
    padding-left: 0;
    list-style: none;
  }
  
  .sub-menu-link {
    display: block;
    padding-left: 50px;
    padding-right: 16px;
    color: #666;
    text-decoration: none;
  }
}