*:focus {
    outline: 0;
}

.sidenav {
    min-height: 1000px;
    background-color: #f1f1f1;
    height: 100%;
    padding: 0;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);
}

.list-group-item {
    background-color: #f1f1f1;
}

li.header {
    color: #fff;
    border: none;
}

li.list-group-item:hover {
    background-color: #fff;
}

li.child:hover > a {
    font-weight: bold;
}

li.child {
    padding-left: 30px;
}

li.choose {
    font-weight: bold;
    background-color: #fff;
    border-left: 4px solid #19aa8d
}

li.choose .tour-group .list-group-item {
    background-color: #fff;
}

li.choose .tour-group li:hover {
    background-color: #f1f1f1;
}

.tour-group a {
    color: #555555;
    font-weight: normal;
}

ul.list-unstyled li {
    border: none;
}

.list-group-item.active li {
    background-color: #337ab7;
}

li.active a {
    color: #fff;
}

.list-group-item:last-child, .list-group-item:first-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.tour-banner img {
    height:200px;
    width:100%;
}

.sidenav .col-xs-6, .col-sm-12, .col-md-6 {
    padding-top: 0;
    padding-bottom: 0;
}

@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row .content {
        height: auto;
    } 
}

.tour-group li.selected a {
    font-weight: bold;
    color: #007aff;
}

.arrow {
    display: inline;
}

.stylish-input-group .input-group-addon {
    background: white !important; 
}
.stylish-input-group .form-control {
    box-shadow: 0 0 0; 
}
.stylish-input-group button {
    border: 0;
    background: transparent;
}