<div ng-hide="betting.data.hide">
<div class="text-right" ng-show="betting.showBtnAdd"> 
  <button class="btn btn-primary clearfix" ng-show="betting.isMod" ng-click="betting.showMatch()">
    <i class="fa fa-plus-circle"></i>
    <span translate="common.betting.btnAdd"></span>
  </button>
</div>
<div>
  <div ng-repeat="round in betting.data.bettingMatch | orderBy:'round'">
    <br>
    <div class="panel panel-default">
      <div class="panel-heading" ng-click="betting.showBettingMatch(round)">
        <form class="form-inline text-center">
          <div class="form-group">
            <span class="h4">{{round.name}}</span>
          </div>
          <div class="form-group pull-right">
            <i class="fa fa-chevron-down" ng-show="!round.show"></i>
            <i class="fa fa-chevron-up" ng-show="round.show"></i>
          </div>
        </form>
      </div>
        <table class="table table-hover" ng-show="round.show">
          <tr ng-repeat="match in round.bettingMatch">
            <td>
              <div class="col-xs-5 text-right">
                <span><strong>{{match.match.competitor1.name}}</strong></span>
              </div>
              <div class="col-xs-2 text-center">{{match.match.score1}} - {{match.match.score2}}</div>
              <div class="col-xs-5">
                <span><strong>{{match.match.competitor2.name}}</strong></span>
              </div>
              <div class="text-center" id="betScore{{match.id}}">({{match.balance1}} - {{match.balance2}})</div>
              <form class="form-inline">
                <div class="text-right">
                  <div ng-hide="match.activated" class="form-group">
                    <button type="button" ng-show="betting.isMod" class="btn btn-success" ng-click="betting.activate(match)">
                      <span class="glyphicon glyphicon-hand-right"></span><span translate="common.betting.btnActive"></span>
                    </button>
                  </div>
                  <div ng-hide="match.activated" class="form-group">
                    <button type="button" ng-show="betting.isMod" class="btn btn-default" ng-click="betting.openUpdate(match)">
                      <span class="glyphicon glyphicon-edit"></span><span translate="common.betting.btnUpdate"></span>
                    </button>
                  </div>
                  <div class="form-group" ng-show="betting.isMember">
                    <button type="button" ng-hide="!match.activated" class="btn btn-default" ng-click="betting.betMatch(round, match); management.playerBetting()">
                      <span class="glyphicon glyphicon-hand-right"></span><span translate="common.betting.btnBet"></span>
                    </button>
                  </div>
                </div>
              </form>
            </td>
          </tr>
        </table>
    </div>
  </div>
</div>
</div>

<div class="panel-body" ng-hide="!betting.data.hide">
<div class="text-right">
  <button type="button" class="btn btn-default" ng-click="betting.goBack()" translate="common.betting.back"></button>
</div><br>
  <div ng-repeat="round in betting.data.match">
    <h4>{{round.roundName}}</h4>
  	<table class="table table-striped">
  		<thead class="bg-primary">
  			<td>ID</td>
  			<td translate="common.betting.match"></td>
  			<td translate="common.betting.startTime"></td>
  			<td translate="common.betting.location"></td>
  			<td></td>
  		</thead>
  		<tbody>
  			<tr ng-repeat="match in round.matches">
          <td>{{match.id}}</td>
          <td>{{match.competitor1.name}} - {{match.competitor2.name}}</td>
          <td>{{betting.parseTime(match.matchTime)}}</td>
          <td>{{match.location}}</td>
  				<td><button type="button" class="btn btn-success" ng-click="betting.chooseMatch(match)" translate="common.betting.btnChoose"></button></td>
  			</tr>
  		</tbody>
  	</table>
  </div>
</div>
<br>
