<div ng-hide="betting.data.hide">
    <br>
    <button class="btn btn-primary pull-right clearfix" ng-hide="!betting.isMod" ng-click="betting.add()" >
      <i class="fa fa-plus"></i>
      <span translate="components.tournament.matches.btnAddBet"></span>
    </button>
    <br><br><br>
    <div ng-repeat="round in betting.data.bettingMatch | orderBy:'round'">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="text-center">{{round.round}}</div>
            </div>
            <div class="panel-body" ng-repeat="match in round.bettingMatch">
                <div class="col-md-5 text-right">
                    <span>{{match.match.competitor1.name}}</span>
                </div>
                <div class="col-md-2 text-center">{{match.match.score1}} - {{match.match.score2}}</div>
                <div class="col-md-5">
                    <span>{{match.match.competitor2.name}}</span>
                </div>
                <div class="text-center">({{match.balance1}} - {{match.balance2}})</div>
                <form class="form-inline" ng-hide="betting.isAdmin">
                    <div class="text-right">
                        <div ng-hide="match.activated" class="form-group">
                            <button type="button" class="btn btn-success" ng-hide="!betting.isMod" ng-click="betting.activate(match)">
                              <i class="icon-hand-right"></i>
                              <span translate="components.tournament.matches.btnActive"></span>
                            </button>
                        </div>
                        <div ng-hide="match.activated" class="form-group">
                            <button type="button" class="btn btn-default" ng-hide="!betting.isMod" ng-click="betting.openUpdate(match)">
                              <i class="icon-edit"></i>
                              <span translate="components.tournament.matches.btnUpdate"></span>
                            </button>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-default" ng-click="betting.betMatch(round, match); management.playerBetting()">
                              <i class="icon-hand-right"></i>
                              <span translate="components.tournament.matches.btnBetMatch"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br>
    </div>
</div>
<div class="panel-body" ng-hide="!betting.data.hide">
    <div ng-repeat="table in betting.data.match">
        {{table.name}}
        <table class="table table-striped">
            <thead class="bg-primary">
                <td translate="components.tournament.matches.table.id"></td>
                <td translate="components.tournament.matches.table.match"></td>
                <td translate="components.tournament.matches.table.startTime"></td>
                <td translate="components.tournament.matches.table.location"></td>
                <td></td>
            </thead>
            <tbody>
                <tr ng-repeat="row in table.matches">
                    <td>{{row.id}}</td>
                    <td>{{row.competitor1.name}} - {{row.competitor2.name}}</td>
                    <td>{{betting.parseTime(row.matchTime)}}</td>
                    <td>{{row.location}}</td>
                    <td>
                      <button type="button" class="btn btn-success" ng-click="betting.chooseMatch(row)" translate="components.tournament.matches.btnChoose">
                      </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>