<div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" ng-click="uploadPhoto.closeModal()">&times;</button>
		<h2 class="modal-title"><small translate="components.tournament.edit-tournament.uploadHeader"></small></h2>
	</div>
	<div class="modal-body">
		<form name="form" method="post">
			<div class="form-group">
				<p class="text-info" translate="components.tournament.edit-tournament.messChoose"></p>
				<button type="file" ngf-select="uploadPhoto.uploadFiles($file, $invalidFiles)" ng-model="file" name="file" ngf-accept="'image/*'"
				ngf-max-size="1MB" ngf-min-height="100" ngf-resize="{width: 1000, height: 200}" translate="components.tournament.edit-tournament.chooseBtn"></button>
				<span> {{f.name}}</span>
				<div class="text-danger margin-image">{{errFile.$error}} {{errFile.$errorParam}}
				</div>
				<div class="upload-progress margin-image" ng-show="f.progress >= 0">
					<div style="width:{{f.progress}}%" ng-bind="f.progress + '%'"></div>
				</div>
			</div>
			<hr>
			<div class="text-right">
				<button type="submit" class="btn btn-primary" ng-click="" translate="components.tournament.btnAccept"></button>
				<button type="button" class="btn btn-default" ng-click="uploadPhoto.closeModal()" translate="components.tournament.btnCancel"></button>
			</div>
		</form>
	</div>
</div>