<div class="row" ng-controller="ManagementController as management">
	<div class="col-sm-4">
		<nav ng-init="hide=true" class="vertical_nav">
			<ul id="js-menu" class="menu">
				<li class="menu-item">
					<label class="menu-link" title="Item 1" ng-click="hide=!hide">
						<i class="menu-icon fa fa-fw fa-users"></i>
						<span class="menu-label">Item 1</span>
					</label>
					<ul class="sub_menu" ng-hide="hide" ng-repeat="tournament in management.tournaments track by $index">
						<li class="sub-menu-item">
							<a href="javascript:void(0)" ng-click="management.showTournamenDetail(tournament.id)" ng-bind="tournament.name" class="sub-menu-link sub_menu--link__active"></a>
						</li>
					</ul>
				</li>
			</ul>
		</nav>
	</div>
	<div class="col-sm-8">
		<div ng-include src="management.templateURL"></div>
	</div>
</div>
<toaster-container toaster-options="{'time-out': 3000, 'close-button':true}"></toaster-container>