<div ng-init="hide=true" layout="row" class="layout-row" style="width: 100%;">
	<div  ng-init="showTours=false;" style="width: 100%;">
		<div sidebar style="float:left; margin-right: 10px;"></div>
		<div flex layout="column" role="main" flex class="layout-column flex" style="max-height: 800px; min-height: 800px;">
	         <md-button ng-click="management.toggleLeft()" class="md-primary sidenav-toggle" hide-gt-sm>
	            <span class="fa fa-bars fa-2x"></span>
	         </md-button>
			<div class="panel panel-default">
				<div class="tour-banner">
					<img ng-src="assets/images/banner-tournament.jpg">
				</div>
				<div ui-view></div>
			</div>
		</div>
	</div>
</div>
<toaster-container toaster-options="{'time-out': 3000, 'close-button':true}"></toaster-container>