<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li>
            <a href="javascript:void(0)" ng-click="hide=!hide">Tournament1
                <span ng-click="management.showDetail=false;$event.stopPropagation();"><i class="fa fa-plus pull-right newButton">New</i></span>
            </a>
            <ul class="nav nav-second-level" ng-hide="hide" ng-repeat="tournament in management.tournaments track by $index">
                <li>
                    <a href="javascript:void(0)" ng-click="management.showTournamenDetail(tournament.id)">
                        <i class="fa fa-desktop"></i>
                        <span class="nav-label" ng-bind="tournament.name"></span>
                        <span class="fa arrow"></span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>