<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.reset.title}">Ngaythobet Password Reset</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p th:text="#{email.greeting(${user.name})}">Dear [User],</p>
        <p th:text="#{email.reset.message}">
            For your Ngaythobet account, a password reset was requested, please click on the URL below to reset it:
        </p>
        <p>
            <a th:href="@{|${baseUrl}#/api/reset-password/finish?key=${user.resetKey}|}" th:text="|${user.name}|">|[User]|</a>
        </p>
        <p>
            <span th:text="#{email.greeting-end}">Regards,</span>
            <br/>
            <em th:text="#{email.signature}">Ngaythobet.</em>
        </p>
    </body>
</html>