<div class="modal-content">
  <div class="modal-header">
    <h2 class="modal-title"><small>Forgot Password</small></h2>
  </div>
  <div class="modal-body">
    <form method="POST" enctype="application/json" name="resetPwForm" ng-submit="resetPassword.reset(resetPassword.email)">
      <div class="form-group">
        <p>Please enter your email to reset password</p>
      </div>  
      <div class="form-group" ng-class="{'has-error':resetPwForm.email.$error.email}">
        <label for="email" class="control-label">Email</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Please enter your email" ng-model="resetPassword.email" required>
        <span class="text-danger" ng-show="resetPassword.errorMessage.length > 0">{{ resetPassword.errorMessage }}</span>
      </div>
      <div class="text-right">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-default" ng-click="resetPassword.closeModal()">Cancel</button>
      </div>
    </form>
  </div>
</div>

