<div class="panel panel-default">
	<div class="panel-heading">
		<div class="badge">{{player.dataBettingStatistics.numberPlayerChoose1}}</div>
		<span><strong> {{player.dataInfoMatch.competitor1Name}}</strong></span>
	</div>
	<div class="panel-body">
		<div ng-repeat="betCompetitor1 in player.namePlayerBetCompetitor1 track by $index">
			<i class="fa fa-user"></i><span> {{betCompetitor1}}</span>
		</div>
		<div class="progress margin-choose">
			<div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuemin="0" aria-valuemax="100"
			ng-style="percent1">
				{{player.dataBettingStatistics.percentOfChoosingCompetitor1}}%
			</div>
		</div>
	</div>
</div>
<div class="panel panel-default margin-choose">
	<div class="panel-heading">
		<div class="badge">{{player.dataBettingStatistics.numberPlayerChoose2}}</div>
		<span><strong> {{player.dataInfoMatch.competitor2Name}}</strong></span>
	</div>
	<div class="panel-body">
		<div ng-repeat="betCompetitor2 in player.namePlayerBetCompetitor2 track by $index">
			<i class="fa fa-user"></i><span> {{betCompetitor2}}</span>
		</div>
		<div class="progress margin-choose">
			<div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuemin="0" aria-valuemax="100"
			ng-style="percent2">
				{{player.dataBettingStatistics.percentOfChoosingCompetitor2}}%
			</div>
		</div>
	</div>
</div>
<div class="panel panel-default margin-choose">
	<div class="panel-heading">
		<h4 class="panel-title">Players not bet</h4>
	</div>
	<div class="panel-body">
		<div ng-repeat="notBet in player.namePlayerNotBet track by $index">
			<i class="fa fa-user"></i><span> {{notBet}}</span>
		</div>
	</div>
</div>