<h1>Sign Up</h1>
<form name="registerForm" class="register-form">
	<div class="form-group">
		<label class="control-label">Username</label>
		<input type="text" class="form-control" ng-pattern="/^[a-z0-9_]*$/" ng-model="register.username" name="username" required/>
		<div ng-show="register.errorMessage" ng-bind="register.errorMessage.username"></div>
	</div>
	<div class="form-group">
		<label class="control-label">Display name</label>
		<input type="text" ng-model="register.name" name="name" class="form-control" required/>

		<div ng-show="register.errorMessage" ng-bind="register.errorMessage.name"></div>
	</div>
	<div class="form-group">
		<label class="control-label">Email</label>
		<input type="email" name="email" ng-model="register.email" class="form-control" required/>
		<div ng-show="register.errorMessage" ng-bind="register.errorMessage.email"></div>
	</div>
	<div class="form-group">
		<label class="control-label">Password</label>
		<input type="password" class="form-control" ng-model="register.password" name="password" required/>
		<div ng-show="register.errorMessage" ng-bind="register.errorMessage.password"></div>
	</div>
	<div class="form-group">
		<label class="control-label">Confirm password</label>
		<input type="password" class="form-control" compare-to="register.password" ng-model="register.confirmPassword" name="confirmPassword"
		required/>
		<div ng-show="register.errorMessage" ng-bind="register.errorMessage.confirmPassword"></div>
	</div>
	<button class="btn btn-default" ng-click="register.registerUser()">Sign Up</button>
</form>